{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container"
    style="background-image: url(https://cdn.pixabay.com/photo/2019/04/24/11/27/flowers-4151900_960_720.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center top; margin-top:0px; padding-top:40px; padding-bottom:400px;">
    <div class="row" style="text-align:center; font-size:10px;">
        <span style="font-size:40px; font-family: 'serif', cursive; color: rgb(22, 25, 78);"><strong>Post Your Blog
                Here</strong> </span>
    </div>
    <div class="row" style="text-align:center; font-size:25px;">
        <!-- <span style="font-size:40px; font-family: 'serif', cursive; color: rgb(16, 18, 56);">Post Your Blog Here</span> -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" style="padding-left:300px;">
            <div class="panel"
                style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px; background-image: url(https://image.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg);background-position: center top;">
                <a href="{{url_for('main.new_blog')}}">
                    <br>
                    <button type="button" class="btn btn-outline-primary btn-sm"
                        style="font-size:18px;margin-bottom:30px;"> <span>Post new Blog </span></button>
                </a>
                <div class="blog" style="color:#d8d1d1;">
                    <p>{{macro.displayBlog(blog)}} </p>
                </div>
                

            </div>
            <div class="row" style="text-align:center; font-size:25px;">
                <span
                    style="font-size:40px; font-family: 'serif', cursive; color: rgb(22, 25, 78);"><strong>Quotes</strong>
                </span>
                <!-- <strong><h1>Quotes</h1></strong> -->

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" style="padding:20px; margin-top:10px;">
                    <div class="panel"style="border: 3px solid #f2f2f2; width:560px; background-image: url(https://image.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg);">
                       <div class="para" style="color:#d8d1d1">
                           <p><i>{{ quotes.quote }}</i></p>
                        <p>{{quotes.author}}</p>
                       </div>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}